@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #EEEEEC;
    --foreground: #131316;
    --muted-foreground: #686868;
    --light: #5ba8ff;
    --card: #1c1c1c;
  }
  
  .dark {
    --background: #131316;
    --foreground: #EEEEEC;
    --muted-foreground: #ABA9A3;
    --light:#016FEE;
    --card: #1c1c1c;
  }
}