@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: "var(--background)";
  color: "var(--foreground)";
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #fff;
    --foreground: #000;
    --muted-foreground: #666;
    --light: #016FEE;
  }
  
  .dark {
    --background: #000;
    --foreground: #fff;
    --muted-foreground: #999;
    --light:#016FEE;
  }
}